
    
<% if !@products.nil? %>
	<% if @products.length>0 %>
		<%= @validatedDuplicates.to_s%>! We have a list of duplicates in the database. Please check before validating the creation.
		<%= render 'list' %>

	<% end %>
<% end %>

<%= form_for @product, :remote => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <% if !@products.nil? %>
	<% if @products.length>0 %>
		<%= text_field_tag :validated_duplicates, params[:validated_duplicates] %>
	<% end %>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
