<%myCategory="000000"%>
<%if @product.category_id%>
	<%myCategory=@product.category_id.to_s%>
<%elsif%>
	<%myCategory=params[:search_category_id].to_s%>
<%end%>
<%default_segment=myCategory[0,2]+"000000"%>
<%default_family=myCategory[0,4]+"0000"%>
<%default_class=myCategory[0,6]+"00"%>
<%default_commodity=myCategory%>

<%= form_for @product, :remote => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label "UNSPSC *" %><br />
 <div class="field" id="unspsc_form">
 	<%= text_field_tag "default_family", default_family, :type => "hidden" %>
    <%= text_field_tag "default_class",default_class, :type => "hidden" %>
    <%= text_field_tag "default_commodity", default_commodity, :type => "hidden" %>
    
    <%= select_tag 'segment', options_for_select(@categories.collect{ |c| [c.id.to_s+': '+c.title, c.id] }.insert(0, ''),default_segment), :style => "width:600px" %>
  	<%= select_tag 'family', options_for_select([""].insert(0, '')), :style => "width:600px" %>
  	<%= select_tag 'class', options_for_select([""].insert(0, '')), :style => "width:600px" %>
  	<%= select_tag 'commodity', options_for_select([""].insert(0, '')), :style => "width:600px" %>
  	
  	<div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  	
  </div>
 
  
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>

  
<div class="duplicates"></div>

<div class="validatedDuplicates" style="display:none;">
  	<%= check_box_tag :validated_duplicates, params[:validated_duplicates] %> Check if you still want to create this product.
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


