<form action="/products" method="get">
<div id="extendUnspsc" align="center"><a id="aExtendUnspsc" href="#">+ </a><a id="aExtendUnspscDescr" href="#">Select Category</a></div>
<div id="unspsc_search" align="center" style="display:none">
  	<%= text_field_tag "previous_family", params[:family], :type => "hidden" %>
    <%= text_field_tag "previous_class", params[:class], :type => "hidden" %>
    <%= text_field_tag "previous_commodity", params[:commodity], :type => "hidden" %>
    <%= select_tag :segment, options_for_select(@categories.collect{ |c| [c.id.to_s+': '+c.title, c.id] }.insert(0, ''),params[:segment]), :style => "width:620px" %>
    <br><%= select_tag :family, options_for_select([""].insert(0, ''),params[:family]), :style => "width:620px" %>
    <br><%= select_tag :class, options_for_select([""].insert(0, ''),params[:class]),:style => "width:620px" %>
    <br><%= select_tag :commodity, options_for_select([""].insert(0, ''),params[:commodity]), :style => "width:620px" %>
    <br><%= text_field_tag :search_category_id, params[:search_category_id], :type => "hidden" %>
</div>
  <p align="center">
    <%= text_field_tag :search, params[:search], :class => 'searchBox' %>
    
    <%= submit_tag "Search", :name => nil , :class => 'searchButton'%>
 </p>
  
  
</form>


<%= render 'list' %>

<br />

<%= link_to 'New Product', new_product_path(:search_category_id => params[:commodity]) , :class =>'fancybox' %>

