<form action="/products" method="get">
  <p align="center">
    <%= text_field_tag :search, params[:search], :class => 'searchBox' %>
    <%= submit_tag "Search", :name => nil , :class => 'searchButton'%>
  </p>
</form>


<h1>Listing products</h1>



<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.manufacturer %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%= will_paginate @products %>



</table>
<%= will_paginate @products %>
<br />

<%= link_to 'New Product', new_product_path %>
