<header>
	<meta name="apple-mobile-web-app-capable" content="yes">
  <nav class="header">
  <table id="menubar"><tr>
  	<td width="100px" class="bottomtd"></td>
  	<td width="300px" class="bottomtd"><%= image_tag("logo_70.png", :alt => "Sample App", :class => "header") %></td>
  	<td>
  	<div id="mainmenu">
  	<ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if signed_in? %>
      <li><span><%= link_to current_user.email, edit_user_path(current_user) %><%= link_to "Logout", signout_path, :method => :delete %></span></li>
      <% else %>
      <li><span><%= link_to "Login", signin_path %></span></li>
      <% end %>
    </ul>
    </div>
    
    	<div id="centeredmenu">
   		<ul>
   	<% if signed_in? %>
      	<li><%= link_to "Products", products_path, :class => menu_builder("products",@title) %></li>
      	<li><%= link_to "Simulations", products_path, :class => 'inactive' %></li>
    <% end %>
   		</ul>
		</div>
	
  	</td>
  	<td width="100px" class="bottomtd"></td>
  	</tr>
    </table>
  </nav>
</header>
