<header>
	<meta name="apple-mobile-web-app-capable" content="yes">
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if signed_in? %>
      <li><span><%= link_to (current_user.email+": Sign out"), signout_path, :method => :delete %></span></li>
      <% else %>
      <li><span><%= link_to "Login", signin_path %></span></li>
      <% end %>
    </ul>
  </nav>
  <%= image_tag("logo_110.png", :alt => "Sample App", :class => "round") %>
  <link rel="apple-touch-icon" href="assets/logo_110_white.png"/>
  <link rel="apple-touch-startup-image" href="assets/logo_wait.png">
  <link rel="apple-touch-startup-image" href="assets/logo_wait_ipad.png">
  
</header>
