<header>
	<meta name="apple-mobile-web-app-capable" content="yes">
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if signed_in? %>
      <li><span><%= link_to current_user.email, edit_user_path(current_user) %><%= link_to "Logout", signout_path, :method => :delete %></span></li>
      <% else %>
      <li><span><%= link_to "Login", signin_path %></span></li>
      <% end %>
    </ul>
  </nav>
  <table>
  <tr>
  <td>
  <%= image_tag("logo_110.png", :alt => "Sample App", :class => "round") %>
  </td>
  <td>
 	<% if signed_in? %>
      	SEARCH
	<% end %>
  </td>
  </tr>
  </table>
  
</header>
