<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>

  <link rel="icon" type="image.png" href="assets/logo_16.png"/>
  <link rel="apple-touch-icon" href="assets/logo_110_white.png"/>
 <link rel="apple-touch-startup-image" sizes="768x1004" href="assets/logo_wait_ipad.png" />
 	 <-- iPad - landscape (748x1024) -->
	<link rel="apple-touch-startup-image" href="assets/logo_wait_ipad_landscape.png"  media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
	<-- iPad - portrait (768x1004) -->  
	<link rel="apple-touch-startup-image" href="assets/logo_wait_ipad.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
	<-- iPhone - (320x460) -->
	<link rel="apple-touch-startup-image" href="assets/logo_wait.png" media="screen and (min-device-width: 200px) and (max-device-width: 320) and (orientation:portrait)" />
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <script>
  var a=document.getElementsByTagName("a");
for(var i=0;i<a.length;i++)
{
    a[i].onclick=function()
    {
        window.location=this.getAttribute("href");
        return false
    }
}
</script>
  <%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>
	<%= render 'layouts/google_analytics' %>
	



</head>
<body>
    <div class="container">
      <%= render 'layouts/header' %>

      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
    <%= yield %>

      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
<script>
$(document).ready(function() {
  $("a.fancybox").fancybox();
});
</script>
  </body>
</html>
